body {
  height: 100%;
  font-family: Inter, sans-serif;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 29px;
  line-height: 1.3;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 500;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 700;
}

a {
  color: #277edc;
  text-decoration: underline;
}

a:hover {
  color: #bc3737;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 30px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.footer {
  margin-top: auto;
  padding-top: 14px;
  padding-bottom: 60px;
}

.page-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-hero {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #277edc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#277edc), to(#277edc));
  background-image: linear-gradient(180deg, #277edc, #277edc);
}

.container-large {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.hero_component {
  max-width: 660px;
}

.hero_logo {
  max-width: 142px;
  margin-bottom: 15px;
}

.hero_features {
  margin-top: 20px;
  margin-bottom: 25px;
}

.hero_list {
  padding-left: 20px;
  color: #fff;
  font-size: 15px;
}

.cta-btns-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 410px;
  margin-bottom: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  padding: 10px 35px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #c7bebe;
  border-radius: 10px;
  background-color: transparent;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  line-height: 1;
  font-weight: 600;
  text-align: center;
}

.button:hover {
  border-color: #fff;
  background-color: #fff;
  color: #277edc;
}

.button.is-white {
  border-color: #fff;
  background-color: #fff;
  color: #277edc;
  font-weight: 700;
}

.button.is-white:hover {
  border-color: #4fa3ff;
  background-color: #4fa3ff;
  color: #fff;
}

.text-link {
  color: #fff;
  font-weight: 500;
}

.hero_text-link {
  padding-left: 20px;
}

.page-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.details_info {
  display: -ms-grid;
  display: grid;
  max-width: 700px;
  margin-bottom: 20px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 12px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.details_info-item {
  border-radius: 6px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.details_info-header {
  position: relative;
  padding: 16px 45px 16px 15px;
  cursor: pointer;
}

.details_info-title {
  color: #0071eb;
  font-size: 15px;
  line-height: 1;
  font-weight: 600;
}

.details_arrow {
  width: 12px;
}

.details_arrow-wrap {
  position: absolute;
  left: auto;
  top: 0%;
  right: 20px;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.details_info-content {
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.detail_rich h3 {
  margin-top: 22px;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 1.4;
}

.datails_pay-calc {
  padding: 15px;
  background-color: #ceedff;
}

.pay-calc_title {
  margin-bottom: 8px;
  padding-left: 2px;
  font-weight: 700;
}

.pay-calc_title.text-color-royal-blue {
  color: #0071eb;
}

.field-label {
  padding-left: 2px;
  font-weight: 400;
}

.select-field {
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.18);
  color: #0071eb;
  font-weight: 600;
}

.pay-calc_result-row {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 11px;
  grid-row-gap: 16px;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.details_info-content-wrap {
  overflow: hidden;
}

.text-weight-medium {
  font-weight: 500;
}

.margin-bottom-12 {
  margin-bottom: 12px;
}

.details_map {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 400px;
  margin-top: 22px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ceedff;
}

.reviews_list {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  margin-bottom: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 50px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.reviews_item {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  min-height: 280px;
  grid-auto-columns: 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 0px;
  -ms-grid-columns: 310px 1fr;
  grid-template-columns: 310px 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.reviews_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 20%;
  object-position: 50% 20%;
}

.reviews_content {
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.reviews_rating {
  width: 162px;
  margin-bottom: 32px;
}

.text-weight-bold {
  font-weight: 700;
}

.reviews_item-title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
}

.hero_logo-img {
  -o-object-fit: contain;
  object-fit: contain;
}

.pay-list-wrap {
  margin-top: -5px;
  margin-bottom: 5px;
}

.list-item-row {
  margin-bottom: 3px;
  padding-left: 40px;
}

.pay-calc_small {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 12px;
  font-style: italic;
}

.section-cta {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #277edc;
}

.footer_component {
  text-align: center;
}

.text-color-blue {
  color: #277edc;
}

.section_article {
  font-size: 12px;
}

.article_component {
  max-width: 700px;
}

.article_date {
  display: -ms-grid;
  display: grid;
  margin-bottom: 20px;
  grid-auto-columns: 1fr;
  grid-column-gap: 4px;
  grid-row-gap: 16px;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.rich-article h3 {
  margin-top: 20px;
  color: #000;
  font-size: 15px;
  font-style: italic;
  text-decoration: underline;
}

.rich-article h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}

.rich-article li {
  margin-bottom: 3px;
}

.pers-data-table {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 0.75fr 1fr 1fr;
  grid-template-columns: 0.75fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: rgba(206, 237, 255, 0.2);
}

.pers-date_cell {
  padding: 10px;
  border-bottom: 1px solid rgba(2, 72, 147, 0.6);
}

.pers-date_cell.border-right {
  border-right: 1px solid rgba(2, 72, 147, 0.6);
}

.pers-date_cell.border-right.is--list {
  padding-bottom: 0px;
  padding-left: 0px;
}

.pers-date_cell.border-right.no-border-bottom {
  border-bottom-width: 0px;
}

.pers-date_cell.is--list {
  padding-bottom: 0px;
  padding-left: 0px;
}

.pers-date_cell.is--list.no-border-bottom {
  border-bottom-width: 0px;
}

.pers-data-component {
  overflow: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.article_list-1l {
  margin-bottom: 10px;
  padding-left: 20px;
}

.list-1l_item {
  position: relative;
  margin-top: 5px;
  padding-left: 15px;
}

.list-dot {
  position: absolute;
  left: 0px;
  top: 8px;
  right: auto;
  bottom: auto;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000;
}

.list-dot.is--empty {
  width: 7px;
  height: 7px;
  border: 1px solid #000;
  background-color: transparent;
}

.list-dot.is--color {
  background-color: #277edc;
}

.article_list_2l {
  margin-top: 2px;
  padding-left: 20px;
}

.list_2l_item {
  position: relative;
  padding-left: 15px;
}

.article_list-l3 {
  margin-top: 5px;
  padding-left: 20px;
}

.list-l3_item {
  position: relative;
  padding-left: 15px;
}

.text-style-underline {
  text-decoration: underline;
}

.footer-text {
  padding-top: 20px;
  color: #c7bebe;
  font-size: 10px;
}

.link {
  color: #c7bebe;
}

.link-2 {
  color: #c7bebe;
}

.text-block {
  color: #024893;
  font-weight: 700;
  text-align: center;
}

.link-3 {
  color: #c7bebe;
}

@media screen and (max-width: 767px) {
  .section-hero {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .container-large {
    padding-right: 3%;
    padding-left: 3%;
  }

  .hero_logo {
    margin-bottom: 10px;
  }

  .cta-btns-wrap {
    width: 100%;
    max-width: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .hero_text-link {
    padding-left: 0px;
    text-align: center;
  }

  .detail_rich ul {
    padding-left: 25px;
  }

  .details_map {
    height: 300px;
  }

  .reviews_list {
    margin-top: 30px;
  }

  .reviews_item {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 60vw;
    grid-template-rows: 60vw;
  }

  .reviews_img.is-carlos {
    -o-object-position: 50% 40%;
    object-position: 50% 40%;
  }

  .reviews_img.is--robert {
    -o-object-position: 50% 0%;
    object-position: 50% 0%;
  }

  .reviews_content {
    padding: 20px;
  }

  .reviews_rating {
    width: 97px;
    margin-bottom: 10px;
  }

  .reviews_item-title {
    margin-bottom: 7px;
  }

  .pers-data-table {
    min-width: 600px;
  }
}

@media screen and (max-width: 479px) {
  body {
    line-height: 1.35;
  }

  .detail_rich li {
    margin-bottom: 3px;
  }

  .details_map {
    height: 200px;
  }

  .rich-article h3 {
    line-height: 1.6;
  }

  .rich-article ul {
    padding-left: 20px;
  }

  .rich-article h2 {
    line-height: 1.4;
  }

  .rich-article strong {
    line-height: 1.6;
  }

  .article_list-1l {
    padding-left: 0px;
  }

  .article_list_2l {
    padding-left: 10px;
  }

  .article_list-l3 {
    padding-left: 10px;
  }

  .text-block {
    text-align: center;
  }
}

#weekly-pay.w-node-eea5d2de-046a-f352-7824-53dacddc2b42-387508f2 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

